####################################################
##       Git Ignore statements for Terraform      ##
####################################################

# Local .terraform directories
**/.terraform/*

#idea
.idea/

# Ignore variables files
*.auto.tfvars
prod-gcp/terraform/terraform.tfvars

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc

####################################################
##        Git Ignore statements for Ansible       ##
####################################################

.venv/
