<VirtualHost *:80>
        ServerName {{ item.server_name }}
        ServerAdmin {{ item.server_admin }}
        DocumentRoot {{ virtualhosts_root_dir }}/{{ item.server_name }}
        DirectoryIndex {{ directory_index }}

        # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
        # error, crit, alert, emerg.
        # It is also possible to configure the loglevel for particular
        # modules, e.g.
        #LogLevel info ssl:warn

        ErrorLog ${APACHE_LOG_DIR}/{{ item.server_name }}-error.log
        CustomLog ${APACHE_LOG_DIR}/{{ item.server_name }}-access.log combined
</VirtualHost>